
/* For old browsers */
@supports (not(--css: variables))
{
    .supports-error
    {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
{
    .supports-error
    {
        display: flex !important;
    }
}


/*------------------------
    Fonts
------------------------*/
@font-face
{
    font-family: "IgraSans";
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url("../fonts/IgraSans.woff") format("woff"),
    url("../fonts/IgraSans.ttf") format("truetype");
}

@font-face
{
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url("../fonts/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face
{
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;

    font-display: swap;
    src: url("../fonts/Montserrat-Medium.woff") format("woff"),
    url("../fonts/Montserrat-Medium.ttf") format("truetype");
}


/*------------------
    Reset styles
------------------*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after
{
    box-sizing: border-box;
}

html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}

body
{
    margin: 0;

    -webkit-overflow-scrolling: touch;
    overscroll-behavior-y: contain;
    -webkit-tap-highlight-color: transparent;
    text-decoration-skip: objects;
    text-rendering: optimizeLegibility;
}

img
{
    border-style: none;
}

textarea
{
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button
{
    margin: 0;

    -webkit-border-radius: 0;
            border-radius: 0;
         outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
            appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

input[type=number]
{
    -moz-appearance: textfield;
}

:focus
{
    outline: 0;
}

:hover,
:active
{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}


::-ms-clear
{
    display: none;
}



/*-------------------
    Global styles
-------------------*/
:root
{
    --font-family: "Montserrat", sans-serif;
	--font-family2: "IgraSans", sans-serif;

    --scroll_width: 17px;
}


.clear
{
    clear: both;
}


.left
{
    float: left;
}


.right
{
    float: right;
}


html
{
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;

    scrollbar-width: thin;
}

/* @media (min-width: 1025px)
{
    html ::-webkit-scrollbar
    {
        width: 9px;
        height: 9px;

        background-color: transparent;
		border-radius: 9px;
    }

    html ::-webkit-scrollbar-thumb
    {
        background-color: #BFBFBF;
		border-radius: 9px;
    }
} */

body
{
    color: #29292B;
    font: 16px/1.25 var(--font-family);

    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;

    background: #FEFEFE;
}

._lock-add
{
    overflow: hidden;
}


button
{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap
{
    position: relative;

    display: flex;
    overflow: clip;
    flex-direction: column;

    min-height: 100%;
}

.main
{
    flex: 1 0 auto;
}


.cont
{
    position: relative;

    width: 100%;
    max-width: 1192px;
    margin: 0 auto;
    padding: 0 16px;
}


.lazyload
{
    opacity: 0;

    transition: opacity .5s linear;
}

.lazyload.loaded
{
    opacity: 1;
}


._flex
{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}


.supports-error
{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    font-family: "Arial", sans-serif;
    font-size: 20px;
    line-height: 30px;

    display: none;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #FFF;
}

.supports-error.show
{
    display: flex;
}

/*------------
    mini-modal
------------*/
.mini-modal
{
    position: relative;
}

.mini-modal__modal
{
    position: absolute;
    z-index: 80;
    top: calc(100% + 10px);
    left: 0;

    visibility: hidden;

    pointer-events: none;

    opacity: 0;

    transition: opacity .2s linear, visibility .2s linear;
}

.mini-modal__modal._active
{
    visibility: visible;

    pointer-events: auto;

    opacity: 1;
}

.mini-modal__close
{
    display: none;
}


/*------------
    pagination
------------*/
.pagination
{
    margin-top: 45px;
}

.pagination__flex a + a
{
    margin-left: 17px;
}

.pagination__flex a
{
    position: relative;

    color: #4DBD3C;
    font-size: 21px;
	font-weight: 500;
	line-height: 60px;
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 12px;
	text-align: center;
	padding: 0 10px;

    text-decoration: none;
	background: rgba(77, 189, 60, .1);

    transition: color .2s linear, background .2s linear;
}

@media (any-hover: hover)
{
    .pagination__flex a:hover
    {
        color: #fff;
		background: #4DBD3C;
    }
}

.pagination .pagination__active
{
    color: #fff;
	background: #4DBD3C;
}

.pagination__link
{
	margin-left: auto;
}

/*------------
    Header
------------*/
.header
{
    position: relative;
	padding: 40px 0;
}

.header .cont
{
	align-items: center;
	align-content: center;
}

.header__logo a
{
	display: block;
	text-decoration: none;
}

.header__logo img
{
	display: block;
	max-width: 100%;
}

.nav-menu
{
	margin-left: auto;
}

.nav-menu__item
{
	font-weight: 500;
	position: relative;
}

.nav-menu__item + .nav-menu__item
{
	margin-left: 24px;
}

.nav-menu__item a
{
	text-decoration: none;
	transition: .2s linear;
	color: #29292B;
}

.nav-menu__sub-link
{
	position: relative;
	padding-right: 20px;
}

.nav-menu__item .nav-menu__sub-link:before 
{
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    height: 8px;
}

.nav-menu__sub-link svg
{
	position: absolute;
	top: 5px;
	right: 0;

	display: block;
	width: 14px;
	height: 10px;

    transition: stroke .2s linear;

    stroke: #29292B;
	transform: rotate(90deg);
}

.nav-menu__sub-menu 
{
    position: absolute;
    z-index: 99;
    top: calc(100% + 20px);
    right: 50%;
	transform: translateX(50%);
    visibility: hidden;
    min-width: 100%;
	padding: 6px;
	background: #F7F7F8;
    transition: .2s linear;
    pointer-events: none;
    opacity: 0;
	border-radius: 20px;
}

.nav-menu__sub-menu a
{
	display: block;
	padding: 10px 20px;
	white-space: nowrap;
	/* background: #F7F7F8; */
}

.header__box
{
	margin-left: 32px;
	background: #2E8B57;
	border-radius: 20px;
	padding: 4px;
}

.header__phone
{
	display: inline-block;
	background: rgba(254, 254, 254, 0.2);
	color: #fff;
	padding: 0 24px;
	line-height: 52px;
	text-decoration: none;
	border-radius: 16px;
	font-weight: 500;
	transition: background .2s linear, color .2s linear;
}

.header__burger
{
	margin-left: 4px;
	width: 52px;
	height: 52px;
	background: rgba(254, 254, 254, 0.2);
	border-radius: 16px;

	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	transition: background .2s linear;
}

.header__burger svg
{
	display: block;
	width: 22px;
	height: 14px;
	fill: #FEFEFE;
	transition: fill .2s linear;
}

@media (any-hover: hover)
{
    .nav-menu__item a:hover
	{
		color: #2E8B57;
	}

	.nav-menu__item:hover .nav-menu__sub-menu 
	{
		top: calc(100% + 6px);
		visibility: visible;
		pointer-events: all;
		opacity: 1;
	}

	.nav-menu__item:hover .nav-menu__sub-link:before 
	{
		display: block;
	}

	.nav-menu__item:hover .nav-menu__sub-link svg
	{
		stroke: #2E8B57;
		transform: rotate(270deg);
	}

	.header__phone:hover
	{
		background: rgba(254, 254, 254, 1);
		color: #2E8B57;
	}

	.header__burger:hover
	{
		background: rgba(254, 254, 254, 1);
	}

	.header__burger:hover svg
	{
		fill: #2E8B57;
	}
}

.header__catalog
{
	position: absolute;
	top: 24px;
	left: 50%;
	z-index: 99;

	width: 100%;
	max-width: 1192px;
	transform: translateX(-50%);

	background: #2E8B57;
	border-radius: 16px;
	padding: 20px 16px 16px;

    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: visibility .2s linear, opacity .2s linear;
}

.header__catalog._show 
{
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
}


.header__top
{
	align-items: center;
	align-content: center;
	padding-right: 4px;
}

.header__block
{
	margin-left: auto;
}

.header__contacts a + a
{
	margin-left: 4px;
}

.header__contacts-link
{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	width: 52px;
	height: 52px;

	background: rgba(254, 254, 254, 0.2);
	border-radius: 16px;
	transition: background .2s linear;
}

.header__contacts-link svg
{
	display: block;
	width: 24px;
	height: 24px;
	fill: #FEFEFE;
	transition: fill .2s linear;
}

@media (any-hover: hover)
{
	.header__contacts-link:hover
	{
		background: rgba(254, 254, 254, 1);
	}

	.header__contacts-link:hover svg
	{
		fill: #2E8B57;
	}
}

.header__menu
{
	align-items: stretch;
	align-content: stretch;
	margin: 60px 0 0 -8px;
}

.header__menu-item
{
	margin: 8px 0 0 8px;
	width: calc(100%/4 - 8px);
	font-size: 18px;
	font-weight: 500;
}

.header__menu-item._hide
{
	display: none;
}

.header__menu-item a
{
	text-decoration: none;
	color: #FEFEFE;
	background: rgba(254, 254, 254, .2);
	transition: background .2s linear, color .2s linear;
	padding: 10px 24px;
	border-radius: 16px;
	text-align: center;
	height: 54px;
	line-height: normal;

	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
}

@media (any-hover: hover)
{
	.header__menu-item a:hover
	{
		background: rgba(254, 254, 254, 1);
		color: #2E8B57;
	}
}

.header__btns
{
	justify-content: space-between;
}

.header__btn
{
	width: calc(100%/2 - 4px);
	font-size: 18px;
	font-weight: 500;
	color: #2E8B57;
	background: #FEFEFE;
	transition: background .2s linear, color .2s linear;
	display: block;
	padding: 10px 24px;
	border-radius: 16px;
	text-align: center;
	height: 54px;
	line-height: normal;
	margin-top: 8px;
	border: 2px solid #FEFEFE;
}

@media (any-hover: hover)
{
	.header__btn:hover
	{
		background: rgba(254, 254, 254, .2);
		color: #FEFEFE;
	}
}

.overlay-catalog
{
    position: fixed;
    z-index: 90;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    pointer-events: none;

    opacity: 0;
    background: rgba(41, 41, 43, .2);

    transition: opacity .2s linear;
}

.overlay-catalog._show
{
    opacity: 1;
}

/*------------
    BTNS
------------*/
.wrap-btn
{
    margin-top: 24px;

    text-align: center;
}

.btn-box
{
	text-align: left;
	margin-top: 30px;
}

.btn-green
{
	color: #FEFEFE;
	font-weight: 500;
	line-height: 60px;
	border-radius: 20px;
	background: #2E8B57;
	display: block;
	width: 100%;
	transition: background .2s linear;
}

.btn-green_small{
	display: inline-block;
	padding: 0 32px;
	line-height: 52px;
	width: auto;
}

@media (any-hover: hover)
{
	.btn-green:hover
	{
		background: #5BB884;
	}
}


._marg
{
    margin-top: 100px;
}

._marg-small
{
	margin-top: 32px;
}

._marg-inner{
	margin-top: 56px;
}


/*----------------
    Typography
----------------*/
.text-block{
	color: rgba(41, 41, 43, 0.8);
}

.text-block > :last-child
{
    margin-bottom: 0 !important;
}

.text-block_marg{
	margin-top: 20px;
}

.text-block h1,
.text-block .title
{
    color: #051824;
    font-size: 50px;
    font-weight: 500;
    line-height: 1.3;

    margin-bottom: 15px;

    letter-spacing: -.01em;
}

.text-block h2
{
    color: #051824;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.3;

    margin-bottom: 40px;

    letter-spacing: -.02em;
}

.text-block * + h2
{
    margin-top: 25px;
}

.text-block p
{
    margin-bottom: 20px;
}

.text-block img
{
    display: block;

    max-width: 100%;
    margin-bottom: 20px;

    border-radius: 20px;
}

.text-block a
{
	text-decoration: none;
	color: #2E8B57;
	border-bottom: 1px solid transparent;
	transition: border .2s linear;
}

@media (any-hover: hover)
{
	.text-block a:hover
	{
		border-bottom-color: #2E8B57;
	}
}

.text-block table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background: #F7F7F8;
    border-radius: 20px;
}

.text-block thead th {
    background: #2E8B57;
    color: #fff;
    padding: 16px 24px;
    text-align: left;
    
	font-weight: 500;
    font-size: 12px;
	line-height: 1.33;
	height: 48px;
	width: 33.333%;
}

.text-block tbody td {
    background: transparent;
    padding: 16px 24px;
	height: 48px;
    border: none;
    border-top: 1px solid #E0E0E1;
    
	font-weight: 500;
    font-size: 12px;
	line-height: 1.33;
	color: #29292B;
	width: 33.333%;
}

.text-block tbody tr:first-child td {
    border-top: none;
}

.text-block table th:first-child{
    border-radius: 20px 0 0 0;
}

.text-block table th:last-child{
    border-radius: 0 20px 0 0;
}

.text-block table tr:last-child td:first-child {
    border-radius: 0 0 0 20px;
}

.text-block table tr:last-child td:last-child {
    border-radius: 0 0 20px 0;
}

/*------------------
    Form elements
------------------*/
::-webkit-input-placeholder
{
    color: rgba(5, 24, 36, 0.5);

    opacity: 1;
}

::-moz-placeholder
{
    color: rgba(5, 24, 36, 0.5);

    opacity: 1;
}

:-moz-placeholder
{
    color: rgba(5, 24, 36, 0.5);

    opacity: 1;
}

:-ms-input-placeholder
{
    color: rgba(5, 24, 36, 0.5);

    opacity: 1;
}

/* .form__flex
{
    margin-left: -17px;
}

.form__flex .form__line
{
    width: calc(100%/2 - 17px);
    margin-left: 17px;
} */

.form__line
{
    margin-bottom: 25px;
}

.form__field
{
    position: relative;
}

.form__field + .form__label
{
    margin-top: 15px;
}

.form .form__input
{
    color: #051824;
    font: 21px var(--font-family);

    display: block;

    width: 100%;
    height: 70px;
    padding: 0 22px;

    border: none;
    border-radius: 12px;
    background: #F4F6FB;
	border: 1px solid transparent;
}

/* .form .form__input.datepicker-input
{
    background-image: url(../images/calendar.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 14px) 50%;
} */

@media (any-hover: hover)
{
    /* .form .form__input:hover
    {
        border-color: #007657;
    }

    .form .form__input_white:hover
    {
        border-color: #FFF;
    } */
}

/* .form .form__input:focus
{
    border-color: #007657;
}

.form .form__input_white:focus
{
    border-color: #FFF;
} */

.form__label
{
    color: rgba(5, 24, 36, .5);
    font-size: 15px;

    margin-bottom: 20px;
}

.form .form__textarea
{
    color: #051824;
    font: 21px var(--font-family);

    display: block;

    width: 100%;
    height: 160px;
    padding: 15px 22px;

    border: none;
    border-radius: 12px;
    background: #F4F6FB;
	border: 1px solid transparent;
	resize: none;
}

.form .error,
.form .form__input.error,
.form .error + .nice-select .current
{
    color: #CC1525 !important;

    border-color: #CC1525 !important;
}

.form .form__input:disabled,
.form .form__textarea:disabled
{
    cursor: default;
    pointer-events: none;

    opacity: .7;
}

.form .error-text
{
    color: #CC1525;
    font-size: 12px;

    margin-top: 6px;
}

.form__submit-btn
{
    line-height: 70px;

    width: 100%;
    margin-top: 25px;
    padding: 0 24px;
}

.form__agree
{
    color: rgba(5, 24, 36, .5);
    font-size: 17px;
}

.form__agree a
{
    color: #051824;

    text-decoration: none;

    transition: color .2s linear;
}

@media (any-hover: hover)
{
    .form__agree a:hover
    {
        color: #4DBD3C;
    }
}


.radios
{
    margin-top: 15px;
    padding-left: 20px;
}

.radio + .radio
{
    margin-top: 8px;
}

.radio input[type=radio]
{
    display: none;
}

.radio__label
{
    position: relative;

    display: block;

    cursor: pointer;
}

.radio__text
{
    position: relative;

    color: #282828;
    font-size: 14px;
    line-height: 20px;

    display: block;

    padding-left: 29px;
}

.radio__text::before
{
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    border: 1px solid rgba(0, 118, 87, .1);
    border-radius: 50%;
    background: #EDF2EF;

    transition: border .2s linear, background .2s linear;
}

input[type=radio]:checked + .radio__text::before
{
    border-width: 5px;
    border-color: #007657;
    background: #FFF;
}


.checkbox-slider input[type=checkbox]
{
    display: none;
}

.checkbox-slider__label
{
    position: relative;

    display: block;

    cursor: pointer;
}

.checkbox-slider__text
{
    position: relative;

    color: #282828;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;

    display: block;

    padding-right: 70px;
}

.checkbox-slider__text-dot
{
    position: absolute;
    top: 0;
    right: 0;

    width: 41px;
    height: 22px;

    border-radius: 50px;
    background: #DADADA;

    transition: background .2s linear;
}

input[type=checkbox]:checked + .checkbox-slider__text .checkbox-slider__text-dot
{
    background: #007657;
}

input[type=checkbox]:disabled + .checkbox-slider__text .checkbox-slider__text-dot
{
    opacity: .5;
}

.checkbox-slider__text-dot:after
{
    content: "";

    position: absolute;
    top: 2px;
    left: 2px;

    width: 18px;
    height: 18px;

    border-radius: 50px;
    background: #FFF;

    transition: left .2s linear;
}

input[type=checkbox]:checked + .checkbox-slider__text .checkbox-slider__text-dot:after
{
    left: 21px;
}

.checkbox-slider__text._reverse
{
    padding-right: 0;
    padding-left: 46px;
}

.checkbox-slider__text._reverse .checkbox-slider__text-dot
{
    right: auto;
    left: 0;
}

.checkbox input[type=checkbox]
{
    display: none;
}

.checkbox__label
{
    position: relative;

    display: block;

    cursor: pointer;
}

.checkbox__text
{
    position: relative;

    color: #282828;
    font-size: 14px;
    line-height: 20px;

    display: block;

    padding: 5px 0 5px 49px;

    border-radius: 2px;

    transition: background .2s linear;
}

.checkbox__text._green
{
    color: #007657;
}

input[type=checkbox]:checked + .checkbox__text
{
    background: rgba(0, 118, 87, .1);
}

@media (any-hover: hover)
{
    .checkbox__text:hover
    {
        background: rgba(0, 118, 87, .1);
    }
}

.checkbox__text::before
{
    content: "";

    position: absolute;
    top: 50%;
    left: 20px;

    width: 20px;
    height: 20px;
    margin-top: -10px;

    border: 1px solid rgba(0, 118, 87, .2);
    border-radius: 2px;
    background: #EDF2EF;
}

input[type=checkbox]:checked + .checkbox__text::before
{
    border-color: #007657;
    background: #007657;
}

.checkbox__text::after
{
    content: "";

    position: absolute;
    top: 50%;
    left: 20px;

    width: 20px;
    height: 20px;
    margin-top: -10px;

    opacity: 0;
    background: url(../images/ic_check2.svg) 50% no-repeat;

    transition: opacity .2s linear;
}

input[type=checkbox]:checked + .checkbox__text::after
{
    opacity: 1;
}

.checkbox-text input[type=checkbox]
{
    display: none;
}

.checkbox-text__label
{
    position: relative;

    display: block;

    cursor: pointer;
}

.checkbox-text__text
{
    position: relative;

    color: #282828;
    font-size: 14px;
    line-height: 1.3;

    display: block;

    padding-left: 30px;
}

.checkbox-text__text._big
{
    font-size: 16px;
}

.checkbox-text__text::before
{
    content: "";

    position: absolute;
    top: 50%;
    left: 0;

    width: 20px;
    height: 20px;
    margin-top: -10px;

    border: 1px solid rgba(0, 118, 87, .2);
    border-radius: 2px;
    background: #EDF2EF;
}

input[type=checkbox]:checked + .checkbox-text__text::before
{
    border-color: #007657;
    background: #007657;
}

.checkbox-text__text::after
{
    content: "";

    position: absolute;
    top: 50%;
    left: 0;

    width: 20px;
    height: 20px;
    margin-top: -10px;

    opacity: 0;
    background: url(../images/ic_check2.svg) 50% no-repeat;

    transition: opacity .2s linear;
}

input[type=checkbox]:checked + .checkbox-text__text::after
{
    opacity: 1;
}

.checkbox-text__text a
{
    color: #007657;

    text-decoration: none;

    border-bottom: 1px solid #007657;

    transition: border .2s linear;
}

@media (any-hover: hover)
{
    .checkbox-text__text a:hover
    {
        border-bottom-color: transparent;
    }
}


.checkbox-btns
{
    margin: -5px 0 0 -5px;
}

.checkbox-btn
{
    flex-grow: 1;

    max-width: calc(100% - 5px);
    margin: 5px 0 0 5px;
}

.checkbox-btn input[type=checkbox]
{
    display: none;
}

.checkbox-btn__label
{
    position: relative;

    display: block;

    cursor: pointer;
}

.checkbox-btn__text
{
    position: relative;

    color: #282828;
    font-size: 14px;
    line-height: 31px;

    display: block;
    overflow: hidden;

    padding: 0 12px;

    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;

    border-radius: 2px;
    background: #F9F9F9;

    transition: background .2s linear;
}

input[type=checkbox]:checked + .checkbox-btn__text
{
    background: #E8E8E8;
}

@media (any-hover: hover)
{
    .checkbox-btn__text:hover
    {
        background: #E8E8E8;
    }
}


.select-wrap
{
    position: relative;
}

.select-wrap select
{
    position: absolute;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: 0;
}

.select-wrap .nice-select
{
    position: relative;

    display: block;
}

.select-wrap .nice-select.disabled
{
    pointer-events: none;
}

.select-wrap .nice-select.open
{
    z-index: 15;
}

.select-wrap .nice-select .current
{
    position: relative;
    z-index: 4;

    color: #29292B;
    font-size: 16px;
    line-height: 52px;
	font-weight: 500;

    display: block;
    overflow: hidden;

    height: 52px;
    padding: 0 46px 0 24px;

    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;

    border-radius: 20px;
	background: #F7F7F8;

    transition: background .2s linear, color .2s linear;
}

@media (any-hover: hover)
{
    .select-wrap .nice-select .current:hover
    {
        color: #FEFEFE;
		background: #2E8B57;
    }
}

.select-wrap .nice-select .current:after
{
    content: "";

    position: absolute;
    top: 50%;
    right: 28px;

    margin-top: -5px;

	width: 7px;
	height: 7px;

	border-left: 2px solid #29292B;
	border-bottom: 2px solid #29292B;
	border-radius: 2px;

	transform: rotate(-45deg);

    transition: border .2s linear;
}

.select-wrap .nice-select.open .current:after
{
    border-top-color: #00684D;
	margin-top: -2px;

    transform: rotate(135deg);
}

@media (any-hover: hover)
{
    .select-wrap .nice-select .current:hover:after
    {
        border-color: #FEFEFE;
    }
}

.select-wrap .nice-select .list
{
    position: absolute;
    z-index: 9;
    top: calc(100% + 6px);
    left: 50%;

    visibility: hidden;
    overflow: hidden;

    min-width: 100%;
	transform: translateX(-50%);

    pointer-events: none;

    opacity: 0;
    background: #F7F7F8;
	border-radius: 20px;

    transition: opacity .2s linear;
}

.select-wrap .nice-select.open .list
{
    visibility: visible;

    pointer-events: all;

    opacity: 1;
}

.select-wrap .nice-select .list .scrollbar
{
    overflow: hidden;
    overflow-y: auto;

    max-height: 360px;
    padding: 6px;

    scrollbar-width: thin;
}

.select-wrap .nice-select .list .list_item
{
    position: relative;

    color: #29292B;
    font-size: 16px;
    line-height: 1.25;
	font-weight: 500;

    padding: 10px 20px;
	border-radius: 14px;

    cursor: pointer;

    transition: color .2s linear, background .2s linear;
}

.select-wrap .nice-select .list .list_item:empty
{
    display: none;
}

.select-wrap .nice-select .list .list_item:hover,
.select-wrap .nice-select .list .list_item.selected
{
    color: #FEFEFE;
	background: #2E8B57;
}

.select-wrap .nice-select .list .list_item.selected
{
	display: none;
}


.file-selection
{
    margin-bottom: 24px;
}

.file-selection input[type=file]
{
    display: none;
}

.file-selection__path
{
    position: relative;

    color: #808080;
    font-size: 13px;
    line-height: 18px;

    display: block;
    overflow: hidden;

    width: 100%;
    padding-left: 28px;

    cursor: pointer;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;

    transition: color .2s linear;
}

.file-selection__path-icon
{
    position: absolute;
    top: 0;
    left: 0;

    width: 18px;
    height: 18px;
}

@media (any-hover: hover)
{
    .file-selection__path:hover
    {
        color: #242828;
    }
}

.legal-entity
{
    display: none;
}

.form._legal-entity .individual
{
    display: none;
}

.form._legal-entity .legal-entity
{
    display: block;
}



/*---------------
	Page head
---------------*/
.main-title
{
    font-size: 42px;
    font-weight: 400;
    line-height: 1.09;
	font-family: var(--font-family2);
}

.main-title__marg-right
{
    margin-right: 180px;
}

.main-title span{
	color: #4DBD3C;
}

.main-title span._red
{
	color: #E52322;
}

.page-title{
	font-weight: 400;
	font-size: 64px;
	line-height: .97;
	color: #29292B;
	font-family: var(--font-family2);
}

.page-title_icon{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	flex-wrap: nowrap;
}

.page-title__icon{
	margin-left: 20px;
	width: 51px;
	height: 49px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	margin-top: 6px;
}

.page-title__icon img{
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.main-smalltitle{
	font-family: var(--font-family2);
	font-weight: 400;
	font-size: 32px;
	line-height: 1;
	color: #29292B
}

.main-subtitle
{
	color: rgba(41, 41, 43, 0.8);
    margin-top: 4px;
}

.page-title + .main-subtitle{
	margin-top: 18px;
}


/*--------------
    Fancybox
--------------*/
.fancybox__backdrop
{
    background: rgba(0, 0, 0, .6);
}

.fancybox__slide
{
    padding: 16px;
}

.fancybox__slide.has-html.has-iframe
{
    padding-top: 60px;
}

.fancybox__slide .f-button[data-fancybox-close]
{
	top: 15px;
	right: 15px;
    color: #051824;

    transition: color .2s linear;
}

@media (any-hover: hover)
{
    .fancybox__slide .f-button[data-fancybox-close]:hover
    {
        color: #4DBD3C;
    }
}

.has-iframe.fancybox__slide .f-button[data-fancybox-close]
{
    top: -36px;
    right: 0;

    color: #FFF;
}

.has-iframe .f-html{
	padding: 0;
}

.fancybox__content :focus
{
    outline: none !important;
    box-shadow: none !important;
}

.fancybox__button--thumbs,
.fancybox__button--zoom
{
    display: none;
}

.fancybox__thumbs
{
    display: none;
}

.fancybox__loader {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  font-family: sans-serif;
  font-size: 16px;
  color: #444;
}


/*------------------------
	Slider controls
------------------------*/
.swiper
{
    position: relative;

    margin-right: 0;
    margin-left: 0;
}

.swiper_visible
{
    overflow: visible;
}

.swiper-overflow
{
    overflow: hidden;
}

.swiper-wrapper
{
    height: auto;
}

.swiper-vertical > .swiper-wrapper
{
    height: 100%;
}

.slider-button-prev,
.slider-button-next
{
    position: absolute;
    z-index: 0;
    top: 0;
	z-index: 10;

    color: #fff;

    display: flex;
    overflow: hidden;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 40px;
    height: 100%;

    cursor: pointer;

    backdrop-filter: blur(12px);
	background: rgba(41, 41, 43, 0.1);

    transition: color .2s linear, background .2s linear;
}

@media (any-hover: hover)
{
    .slider-button-prev:hover,
    .slider-button-next:hover
    {
        z-index: 11;

        color: #2E8B57;
    }
}

.slider-button-prev svg,
.slider-button-next svg
{
    display: block;

    width: 24px;
    height: 24px;

    fill: none;
	stroke: currentColor;
	transform: rotate(-90deg);
}

.slider-button-prev
{
    left: 0;
}

.slider-button-prev svg{
	transform: rotate(90deg);
}

.slider-button-next
{
    right: 0;
}

.slider-button-prev.swiper-button-disabled,
.slider-button-next.swiper-button-disabled
{
    cursor: default;
    pointer-events: none;

    opacity: .5;
}

.swiper-button-lock
{
    display: none;
}

.slider-pagination
{
    position: absolute;
    z-index: 9;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;

    width: 100%;
    padding: 0;

    text-align: center;

    transition: 300ms opacity, 300ms visibility;
}

.slider-pagination._bot
{
    position: relative;
    bottom: 0;
    left: 0;

    margin-top: 52px;
}

.slider-pagination._bot-abs
{
    bottom: 30px;
}

.slider-pagination.swiper-pagination-lock
{
    display: none !important;
}

.slider-dot
{
    position: relative;

    display: block;
    flex-grow: 1;

    max-width: 37px;
    height: 3px;
    margin: 0;
    padding: 0;

    border-radius: 3px;
    background: rgba(5, 24, 36, .2);
    box-shadow: none;

    transition: background .2s linear, height .2s linear, width .2s linear;

    appearance: none;
}

.slider-pagination.slider-pagination__white .slider-dot
{
    background: #FFF;
}

.slider-dot + .slider-dot
{
    margin-left: 10px;
}

.slider-pagination-clickable .slider-dot
{
    cursor: pointer;
}

@media (any-hover: hover)
{
    .slider-dot:hover,
    .slider-pagination.slider-pagination__white .slider-dot:hover
    {
        background: #4DBD3C;
    }
}

.slider-dot.slider-dot_active,
.slider-pagination.slider-pagination__white .slider-dot.slider-dot_active
{
    background: #4DBD3C;
}

.swiper-scrollbar
{
    display: none;

    transition: opacity 0s .1s linear;
}

.swiper-scrollbar._hide
{
    opacity: 0;

    transition-delay: .3s;
    transition-duration: .3s;
}

.swiper .swiper-scrollbar
{
    position: relative;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 5px;
    margin-top: 10px;

    background: #F5F5F5;
}

.swiper .swiper-scrollbar-drag
{
    background: #E5E5E5;
}

/*------------------------
	Start
------------------------*/

.first-section__bg
{
    position: relative;
	border-radius: 20px;
	overflow: hidden;
}

.first-section__bg::after
{
	position: absolute;
	content: '';
	top: 56px;
	right: 64px;

	display: block;

	width: 32px;
	height: 32px;

	background: url(../images/ic_star.svg) 50%/contain no-repeat;
}

.first-section__bg::before
{
	position: absolute;
	content: '';
	bottom: 61px;
	right: 64px;

	display: block;

	width: 32px;
	height: 32px;

	background: url(../images/ic_star.svg) 50%/contain no-repeat;
	z-index: 2;
}

.first-section__img
{
	position: absolute;
	top: 0;
	left: 0;

	display: block;

	width: 100%;
	height: 100%;

	object-fit: cover;
}

.first-section__info
{
	position: relative;
	z-index: 1;
	height: 675px;
	padding: 56px 64px;

	display: flex;
	flex-direction: column;

	background: linear-gradient(0deg, rgba(16, 16, 16, 0.8) 0%, rgba(16, 16, 16, 0) 43%);
}

.first-section__logo
{
	width: 100%;
	max-height: 120px;
}

.first-section__logo img
{
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.first-section__title
{
	width: 100%;
	margin-top: auto;
	color: #FEFEFE;
	font-family:  var(--font-family2);
	font-size: 52px;
	line-height: 1;
	font-weight: 400;
}

/*------------------------
	achievements
------------------------*/

.achievements__top
{
	justify-content: space-between;
	flex-wrap: nowrap;
}

.achievements__info
{
	max-width: 460px;
	margin-left: 30px;
}

.achievements__grid
{
	margin: 45px 0 0 -20px;
	align-items: stretch;
	align-content: stretch;
}

.achievements__item
{
	width: calc(100%/4 - 20px);
	margin: 20px 0 0 20px;
	background: #F7F7F8;
	border-radius: 20px;
	padding: 22px 32px 32px;
}

.achievements__number
{
	font-family:  var(--font-family2);
	font-size: 64px;
	line-height: 0.968;
	font-weight: 400;
}

.achievements__desc
{
	margin-top: 44px;
}

/*------------
	tours-promo
------------*/

.tours-promo__items
{
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
	margin-top: 8px;
}

.tours-promo__item
{
	width: calc(100%/2 - 12px);
	margin-top: 24px;
	position: relative;
	overflow: hidden;
	border-radius: 20px;
	display: block;
}

.tours-promo__item._big
{
	width: 100%;
}

.tours-promo__item::after
{
	position: absolute;
	content: '';
	top: 0;
	left: 0;

	display: block;

	width: 100%;
	height: 100%;

	background: linear-gradient(0deg, rgba(16, 16, 16, 0.8) 0%, rgba(16, 16, 16, 0) 43%);
}

.tours-promo__img
{
	position: relative;
	padding-bottom: 61.62%;
	display: block;
}

.tours-promo__item._big .tours-promo__img
{
	padding-bottom: 43.11%;
}

.tours-promo__img img
{
	position: absolute;
	top: 0;
	left: 0;

	display: block;

	width: 100%;
	height: 100%;

	object-fit: cover;

	transition: transform .4s linear;
}

@media (any-hover: hover)
{
    .tours-promo__item:hover .tours-promo__img img
    {
        transform: scale(1.05);
    }
}

.tours-promo__wrap
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	padding: 28px 32px 32px;
}

.tours-promo__item._big .tours-promo__wrap
{
	padding: 36px 48px;
}

.tours-promo__top
{
	width: 100%;

	justify-content: space-between;
}

.tours-promo__date
{
	border-radius: 12px;
	background: rgba(41, 41, 43, .25);
	padding: 0 24px;
	color: #FEFEFE;
	font-size: 18px;
	font-weight: 500;
	line-height: 46px;
	display: inline-block;
	backdrop-filter: blur(12px);
}

.tours-promo__discount
{
	border-radius: 12px;
	background: #FEFEFE;
	padding: 0 24px;
	font-size: 18px;
	font-weight: 500;
	line-height: 46px;
	display: inline-block;
	color: #29292B;
	white-space: nowrap;
}

.tours-promo__bot
{
	width: 100%;
	justify-content: space-between;
	align-items: flex-end;
	align-content: flex-end;
	flex-wrap: nowrap;
}

.tours-promo__title
{
	font-size: 42px;
	line-height: 1;
	font-family: var(--font-family2);
	color: #FEFEFE;
	display: block;
}

.tours-promo__item._big .tours-promo__title
{
	font-size: 52px;
}

.tours-promo__desc
{
	color: #BABABA;
	margin-top: 12px;
	font-weight: 500;
	display: block;
}

.tours-promo__link
{
	margin-left: 48px;
	flex-shrink: 1;
	font-size: 18px;
	font-weight: 500;
	display: block;
}

.tours-promo__link span
{
	text-decoration: none;
	display: block;
	line-height: 56px;
	padding: 0 56px 0 24px;
	position: relative;
	border-radius: 16px;
	background: #2E8B57;
	color: #FEFEFE;
	transition: background .2s linear;
}

.tours-promo__link span::after
{
	position: absolute;
	content: '';
	top: 50%;
	right: 33px;

	display: block;

	width: 8px;
	height: 14px;

	margin-top: -7px;

	background: url(../images/ic_arrow.svg) 50%/contain no-repeat;
}

@media (any-hover: hover)
{
	.tours-promo__item:hover .tours-promo__link span
	{
		background: #5BB884;
	}
}

/*------------
	advantages
------------*/

.advantages-small-title
{
	font-size: 18px;
	line-height: 1.2;
	text-align: center;
	color: #BABABA;
	text-transform: uppercase;
}

.advantages-title
{
	font-family: var(--font-family2);
	font-size: 52px;
	line-height: 1;
	text-align: center;
	margin-top: 10px;
}

.advantages-title span
{
	color: #2E8B57;
}

.advantages__grid
{
	margin: 44px 0 0 -20px;
	align-items: stretch;
	align-content: stretch;
}

.advantages__item
{
	width: calc(100%/3 - 20px);
	margin: 20px 0 0 20px;
	position: relative;
	
	background: #F7F7F8;
	border-radius: 20px;
	overflow: hidden;
}

.advantages__item._big
{
	width: calc(100%/2 - 20px);
}

.advantages__item::before
{
	position: absolute;
	content: '';
	top: 20px;
	left: 20px;

	display: block;

	width: 30px;
	height: 30px;
	border-radius: 50%;

	background: #FEFEFE url(../images/ic_star_dark.svg) 50% 50% no-repeat;
	z-index: 3;
}

.advantages__not-icon::before
{
	display: none;
}

.advantages__img
{
	position: absolute;
	top: 0;
	left: 0;

	display: block;

	width: 100%;
	height: 100%;

	opacity: 0;
	transition: opacity .2s linear;
}

.advantages__img img
{
	position: absolute;
	top: 0;
	left: 0;

	display: block;

	width: 100%;
	height: 100%;

	object-fit: cover;
}

@media (any-hover: hover)
{
	.advantages__item:hover .advantages__img
	{
		opacity: 1;
	}
}

.advantages__logo
{
	height: 49px;
	margin-bottom: auto;
}

.advantages__logo img
{
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.advantages__box
{
	position: relative;
	padding-bottom: 84.11%;
}

.advantages__item._big .advantages__box
{
	padding-bottom: 55.09%;
}

.advantages__info
{
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	padding: 20px;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.advantages__name
{
	font-family: var(--font-family2);
	font-size: 32px;
	line-height: 1;
	transition: color .2s linear;
}

.advantages__desc
{
	margin-top: 6px;
}

@media (any-hover: hover)
{
	.advantages__item:hover .advantages__name
	{
		color: #FEFEFE;
	}

	.advantages__item:hover .advantages__desc
	{
		display: none;
	}
}

/*------------
	services
------------*/

.services__grid
{
	margin: 4px 0 0 -20px;
	align-items: stretch;
	align-content: stretch;
}

.services__item
{
	text-decoration: none;
	display: block;
	width: calc(100%/3 - 20px);
	margin: 20px 0 0 20px;
	position: relative;
}

.services__number
{
	position: absolute;
	top: 24px;
	left: 28px;

	display: block;

	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 34px;

	color: #FEFEFE;
	font-weight: 500;
	background: rgba(41, 41, 43, .25);
	backdrop-filter: blur(12px);
	border-radius: 50%;
	z-index: 2;
	padding: 0 5px;
	line-height: 32px;
}

.services__number._light
{
	background: rgba(254, 254, 254, .2);
}

.services__img
{
	position: relative;
	display: block;
	padding-bottom: 122.145%;
	border-radius: 20px;
	overflow: hidden;
}

.services__img::after
{
	position: absolute;
	content: '';
	top: 0;
	left: 0;

	display: block;

	width: 100%;
	height: 100%;

	background: linear-gradient(0deg, rgba(16, 16, 16, 0.8) 0%, rgba(16, 16, 16, 0) 43%);
}

.services__img img
{
	position: absolute;
	top: 0;
	left: 0;

	display: block;

	width: 100%;
	height: 100%;

	object-fit: cover;

	transition: transform .4s linear;
}

@media (any-hover: hover)
{
    .services__item:hover .services__img img
    {
        transform: scale(1.05);
    }
}

.services__name
{
	position: absolute;
	bottom: 0;
	left: 0;

	display: block;

	padding: 28px 24px;

	font-family: var(--font-family2);
	font-size: 26px;
	line-height: 1.23;
	color: #FEFEFE;
	z-index: 1;
	width: 100%;
}

/*------------
	faq
------------*/
.faq__grid
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr auto;
	gap: 24px 30px;
    align-items: start;
	grid-auto-rows: auto;
}

.faq__top{
	align-self: stretch;
}

.faq__box
{
	position: sticky;
	top: 48px;
	left: 0;
}

.faq__colr{
	grid-column: 2;
	grid-row: 1 / span 2;
}

.faq__items
{
	max-width: 561px;
	margin-left: auto;
}

.faq__item
{
	position: relative;
}

.faq__item + .faq__item
{
	margin-top: 32px;
	padding-top: 31px;
	border-top: 1px solid #F7F7F8;
}

.faq__item-pad{
	position: relative;
	padding-left: 50px;
	padding-right: 54px;
}

.faq__item-pad::after
{
	position: absolute;
	content: '';
	top: 1px;
	right: 0;

	display: block;

	width: 30px;
	height: 31px;

	background: url(../images/ic_arrow2.svg) 50%/contain no-repeat;
}

.faq__item-pad::before
{
	position: absolute;
	content: '';
	top: 3px;
	left: 0;

	display: block;

	width: 26px;
	height: 26px;
	border-radius: 50%;

	background: #F7F7F8 url(../images/ic_star_dark.svg) 50% 50% / 17px 18px no-repeat;
}

.faq__name
{
	font-family: var(--font-family2);
	font-size: 32px;
	line-height: 1;
}

.faq__desc
{
	margin-top: 23px;
}

.faq__desc a
{
	text-decoration: none;
	color: #29292B;
}

.faq__desc-link
{
	white-space: nowrap;
}

.faq__bot{
	align-self: flex-end;
}

.faq__phone
{
	max-width: 340px;
}

.faq__phone a
{
	text-decoration: none;
	color: #29292B;
}

/*------------
	gallery
------------*/

.gallery__grid
{
	margin: 4px 0 0 -20px;
	align-items: stretch;
	align-content: stretch;
}

.gallery__item
{
	width: calc(100%/3 - 20px);
	margin: 20px 0 0 20px;
}

.gallery__item._big
{
	width: calc(100% - 20px);
}

.gallery__img
{
	position: relative;
	display: block;
	padding-bottom: 64.29%;
	border-radius: 20px;
	overflow: hidden;
}

.gallery__item._big .gallery__img
{
	padding-bottom: 56.035%;
}

.gallery__img img
{
	position: absolute;
	top: 0;
	left: 0;

	display: block;

	width: 100%;
	height: 100%;

	object-fit: cover;

	transition: transform .4s linear;
}

@media (any-hover: hover)
{
    .gallery__item:hover .gallery__img img
    {
        transform: scale(1.05);
    }
}

.gallery__link
{
	margin-top: 20px;
}

.gallery__link a
{
	color: #2E8B57;
	font-weight: 500;
	line-height: 60px;
	text-decoration: none;
	transition: .2s linear;
	text-align: center;
	display: block;
	background: #F7F7F8;
	border-radius: 20PX;
}

@media (any-hover: hover)
{
	.gallery__link a:hover
	{
		color: #F7F7F8;
		background: #2E8B57;
	}
}

/*------------
	cats-numbers
------------*/

.cats-numbers__box
{
	justify-content: space-between;
	align-items: center;
	align-content: center;
	flex-wrap: nowrap;
}

.sorting
{
	flex-shrink: 0;
	margin-left: 30px;
}

.sorting__select + .sorting__select
{
	margin-left: 8px;
}

.cats-numbers__grid
{
	margin: 20px 0 0 -12px;
}

.cats-numbers__item
{
	display: block;
	text-decoration: none;
	width: calc(100%/3 - 12px);
	margin: 12px 0 0 12px;
	border-radius: 20px;
	overflow: hidden;
	color: #FEFEFE;
	position: relative;
}

.cats-numbers__item._big
{
	width: calc(100%/2 - 12px);
}

.cats-numbers__img
{
	display: block;
	padding-bottom: 84.51%;
	position: relative;
}

.cats-numbers__item._big .cats-numbers__img
{
	padding-bottom: 76.656%;
}

.cats-numbers__img::after
{
	position: absolute;
	content: '';
	top: 0;
	left: 0;

	display: block;

	width: 100%;
	height: 100%;

	background: linear-gradient(0deg, rgba(16, 16, 16, 0.8) 0%, rgba(16, 16, 16, 0) 43%);
}

.cats-numbers__img::before
{
	position: absolute;
	content: '';
	top: 0;
	left: 0;

	display: block;

	width: 100%;
	height: 100%;

	background: linear-gradient(180deg, rgba(16, 16, 16, 0.6) 0%, rgba(16, 16, 16, 0) 43%);
	z-index: 1;
}

.cats-numbers__img img
{
	position: absolute;
	top: 0;
	left: 0;

	display: block;

	width: 100%;
	height: 100%;

	object-fit: cover;

	transition: transform .4s linear;
}

@media (any-hover: hover)
{
    .cats-numbers__item:hover .cats-numbers__img img
    {
        transform: scale(1.05);
    }
}

.cats-numbers__top
{
	position: absolute;
	top: 0;
	left: 0;

	display: block;

	padding: 24px 28px 0;
	z-index: 2;
	width: 100%;
}

.cats-numbers__item._big .cats-numbers__top
{
	padding: 38px 40px 0;
}

.cats-numbers__name
{
	display: block;
	font-size: 32px;
	line-height: 1;
	font-family: var(--font-family2);
}

.cats-numbers__item._big .cats-numbers__name
{
	font-size: 52px;
}

.cats-numbers__desc
{
	margin-top: 5px;
	display: block;
}

.cats-numbers__bot
{
	position: absolute;
	bottom: 0;
	left: 0;

	padding: 0 28px 24px;

	justify-content: space-between;
	align-items: center;
	align-content: center;
	z-index: 3;
	width: 100%;
}

.cats-numbers__item._big .cats-numbers__bot
{
	padding: 0 40px 32px;
}

.cats-numbers__value
{
	display: block;
	white-space: nowrap;

	border-radius: 12px;
    background: rgba(41, 41, 43, .25);
    padding: 0 24px;
    font-weight: 500;
    line-height: 44px;
    backdrop-filter: blur(12px);
}

.cats-numbers__price
{
	display: block;
	white-space: nowrap;
	font-family: var(--font-family2);
	font-size: 26px;
	line-height: 1.23;
}

.cats-numbers__item._big .cats-numbers__price
{
	font-size: 32px;
	line-height: 1;
}

/*------------
	page-number
------------*/

.page-number__banner
{
	position: relative;
	padding-bottom: 58.19%;
	border-radius: 20px;
	overflow: hidden;
}

.page-number__banner img
{
	position: absolute;
	top: 0;
	left: 0;

	display: block;

	width: 100%;
	height: 100%;

	object-fit: cover;
}

.page-number__item
{
	margin-top: 72px;
}

.page-number__reservation-btn
{
	color: #FEFEFE;
	font-weight: 500;
	line-height: 60px;
	border-radius: 20px;
	background: #2E8B57;
	padding: 0 32px;
	width: 100%;
	transition: background .2s linear;
}

@media (any-hover: hover)
{
	.page-number__reservation-btn:hover
	{
		background: #5BB884;
	}
}
/*------------
	commit
------------*/
.content_pad{
	padding-top: 24px;
}

.content__flex{
	justify-content: space-between;
}

.aside{
	width: calc(25% - 20px);
	max-width: 260px;
	background: #F7F7F8;
	border-radius: 20px;
	padding: 6px;
}

.aside__list-link{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	text-decoration: none;
	min-height: 44px;
	padding: 6px 20px;
	position: relative;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.25;
	color: #29292B;
	transition: color .2s linear;
}

.aside__list-link._sub{
	padding-right: 46px;
}

.aside__list-link svg{
	position: absolute;
	top: 50%;
	right: 20px;

	display: block;

	width: 16px;
	height: 16px;

	margin-top: -8px;

	stroke: currentColor;
	fill: none;
}

.aside__list-item._active .aside__list-link svg{
	transform: rotate(-180deg);
}

.aside__sublist{
	display: none;
}

.aside__list-item._active .aside__sublist{
	display: block;
}

.aside__sublist-link{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	text-decoration: none;
	min-height: 44px;
	padding: 6px 20px 6px 32px;
	position: relative;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.25;
	color: #29292B;
	transition: color .2s linear;
}

@media (any-hover: hover){
	.aside__list-link:hover{
		color: #2E8B57;
	}

	.aside__sublist-link:hover{
		color: #2E8B57;
	}
}

.aside__list-link.active{
	color: #2E8B57;
}

.aside__sublist-link.active{
	color: #2E8B57;
}

.content__block{
	width: calc(75% - 10px);
	max-width: 860px;
}


.info-imp{
	background: rgba(46, 139, 87, 0.1);
	padding: 16px 24px;
	border-radius: 16px;

	font-weight: 500;
	color: #2E8B57;
	margin-top: 20px;
}

.slider-photo{
	margin-top: 20px;
	border-radius: 20px;
}

.slider-photo__img{
	display: block;
	position: relative;
	padding-bottom: 113.75%;
	border-radius: 20px;
	overflow: hidden;
}

.slider-photo__img img{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.leave-request{
	margin-top: 20px;
	flex-wrap: nowrap;
	align-items: center;
	align-content: center;
	padding: 16px 24px;
	border-radius: 20px;
	background: #F7F7F8;
}

.leave-request__title{
	font-weight: 500;
	color: #2E8B57;
}

.leave-request__btn-green{
	margin-left: 24px;
}

.inhabitants__grid{
	margin: 16px 0 0 -8px
}

.inhabitants__item{
	display: block;
	margin: 8px 0 0 8px;
	width: calc(100%/5 - 8px);

	border: 1px solid #F7F7F8;
	border-radius: 20px;

	padding: 20px 0 15px;

	font-weight: 500;
	text-align: center;
	color: #29292B;
	text-decoration: none;
}

.inhabitants__item-img{
	display: block;
	position: relative;
	padding-bottom: 64%;
}

.inhabitants__item-img img{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.inhabitants__item-name{
	display: block;
	padding: 0 15px;
	margin-top: 4px;
}


.fishing-seasons__grid{
	margin: 16px 0 0 -8px;
}

.fishing-seasons__item{
	margin: 8px 0 0 8px;
	width: calc(100%/4 - 8px);
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	text-decoration: none;

	font-weight: 500;
	text-align: center;
	color: #fff
}

.fishing-seasons__img{
	display: block;
	position: relative;
	padding-bottom: 153.112%;
}

.fishing-seasons__img img{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.fishing-seasons__name{
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 16px;
	width: 100%;
}

.fishing-seasons__name span{
	display: block;
	backdrop-filter: blur(12px);
	background: rgba(41, 41, 43, 0.25);
	padding: 12px;
	border-radius: 12px;
}


.cats{
	margin: 12px 0 0 -8px;

	align-items: stretch;
	align-content: stretch;
}

.cats__item{
	margin: 8px 0 0 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	text-decoration: none;
	padding: 10px 32px;

	font-weight: 500;
	text-align: center;
	color: #29292B;
	border-radius: 20px;
	background: #F7F7F8;
	min-height: 60px;
}


.text-wrap{
	margin-top: 32px;
}


/*------------
    footer
------------*/
.footer
{
	padding-bottom: 80px;
}

.footer__cols
{
    justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

.footer__coll
{
	width: calc(53.71% - 4px);
	padding: 33px 48px 40px;
	border-radius: 20px;
	background: #F7F7F8;
}

.footer__colr
{
	width: calc(46.29% - 4px);
}

.footer__title
{
	font-family: var(--font-family2);
	font-size: 52px;
	line-height: 1;
}

.footer__contacts
{
	margin-top: 25px;
	flex-wrap: nowrap;
}

.footer__reservation-btn
{
	color: #FEFEFE;
	font-weight: 500;
	line-height: 60px;
	border-radius: 20px;
	background: #2E8B57;
	padding: 0 32px;
	width: 100%;
	transition: background .2s linear;
}

@media (any-hover: hover)
{
	.footer__reservation-btn:hover
	{
		background: #5BB884;
	}
}

.footer__socials
{
	flex-shrink: 0;
}

.footer__socials-link
{
	margin-left: 8px;
	width: 60px;
	height: 60px;
	border-radius: 16px;
	background: rgba(46, 139, 87, .1);

	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	padding: 15px;
	transition: background .2s linear;
}

.footer__socials-link svg
{
	display: block;
	width: 24px;
	height: 24px;
	fill: #2E8B57;
	transition: fill .2s linear;
}

@media (any-hover: hover)
{
	.footer__socials-link:hover
	{
		background: #2E8B57;
	}

	.footer__socials-link:hover svg
	{
		fill: #F7F7F8;
	}
}

.footer__menu
{
	margin: -8px 0 0 -4px;
}

.footer__item
{
	width: calc(100%/3 - 4px);
	margin: 8px 0 0 4px;
}

.footer__item a
{
	color: #29292B;
	text-decoration: none;
	background: #F7F7F8;
	border-radius: 20px;
	transition: background .2s linear, color .2s linear;
	padding: 0 32px;
	line-height: 65px;
	display: block;
	text-align: center;
	font-weight: 500;
}

@media (any-hover: hover)
{
	.footer__item a:hover
	{
		color: #FEFEFE;
		background: #2E8B57;
	}
}

.footer__links
{
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

.footer__link
{
	margin-top: 8px;
}

.footer__link:nth-child(odd)
{
	width: calc(53.71% - 4px);
}

.footer__link:nth-child(even)
{
	width: calc(46.29% - 4px);
}

.footer__link a
{
	color: #29292B;
	text-decoration: none;
	background: #F7F7F8;
	border-radius: 20px;
	transition: background .2s linear, color .2s linear;
	padding: 0 32px;
	line-height: 60px;
	display: block;
	text-align: center;
	font-weight: 500;
}

@media (any-hover: hover)
{
	.footer__link a:hover
	{
		color: #FEFEFE;
		background: #2E8B57;
	}
}

.footer__bot
{
	margin-top: 8px;
	justify-content: space-between;
	flex-wrap: nowrap;
	font-size: 12px;
	font-weight: 500;
	line-height: 1.3;
	color: #BABABA;
}

.footer__copy
{
	margin-left: 30px;
	flex-shrink: 0;
}

/*------------
    Modal
------------*/
.modal
{
    position: relative;
    z-index: 3;

    display: none;
    visibility: visible !important;

    width: 500px;
    max-width: 100%;
    padding: 40px;

    border-radius: 24px;
    background: #FFF;
	color: #051824;
}

.modal__wrap{
	width: 100%;
}

.modal__title{
	color: #051824;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -.02em;
}

.modal__form{
	margin-top: 24px;
}


@media (max-width: 1450px)
{
	
}